<ul>
  <li *ngFor="let chat of model">
    {{ chat.nom }}
    <img *ngIf="chat.image" [src]="chat.image">
  </li>
</ul>

<form [formGroup]="fg" (ngSubmit)="submit()">
  <input type="text" formControlName="nom">
  <input type="file" (change)="onChange($event)">
  <button>Save</button>
</form>


